@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Roboto Mono", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background {
    background: url(/static/images/favpng_fork-kitchen-utensil-tool.png) no-repeat center center fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

/* Navbar */
.active {
    background-color: #FFD700;
    border-radius: 10px;
}

.logo {
    font-size: 2rem;
    margin-left: 10px;
}

.lead {
    padding: 10px;
    line-height: 2.5rem;
}

.navbar-brand {
    font-weight: 700;
}


/* Home Page */
.intro {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    border: 3px solid tomato;
    border-radius: 12px;
}

.opacity {
    background-color: rgba(255, 255, 255, 0.8);
}


/* Buttons */
.styledButton {
    background-color: tomato;
}

.styledButton:hover {
    background-color: #FFD700;
    color: black;
}

/* Recipe List */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.detail-link {
    text-decoration: none;
    color: #FFD700;
}

.detail-link:hover{
    color: #FFFF80;
}



.recipe-image {
    height: 80%;
    width: 80%;
    border-radius: 15px;

}

.card-body {
    background-color: tomato;
}

.hr {
    color: #FFD700;
}

/* Add Recipe Page */
.recipeForm {
    background-color: #FFD700;
    width: 80%;

}


/* Recipe Detail */
.ingredients ul {
    list-style-type: none;
}

.instructions {
    text-align: left;
}

div.card {
    width: 80%;
}

/* Comment Section */

.scroll,
.commentCard {
    background-color: #FFFF80
}

div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    background-color: transparent tomato;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
}

textarea.form-control {
    height: 100px;
}

p .badge {
    margin-left: 1rem;
}

#msg, .msg {
    background-color: #FFD700;

}

/* Footer */
.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

footer,
.navbar {
    background-color: #FFFF80;
}




/* Media queries */
@media only screen and (max-width: 770px) {
    div .image-container img {
        height: 300px;
    }

    div .card {
        width: 90%;
    }

    .recipeForm {
        width: 90%;
    }

    .background {
        height: fit-content;
    }

    /* .optionButtons .btn {
        padding: 5px;
        
    } */
}