{% extends 'base.html' %}

{% load static %}
{% block content %}
<td class="bg">
    <div class="container-fluid image">
        <div class="container text-center justify-content-center">
            <div class="jumbotron mt-4 p-5 text-dark rounded">
                <h1>Welcome to Healthy Foodie Blog!</h1>
                <p> You are at the right place! Your go-to destination for delicious and nutritious recipes that make
                    healthy eating enjoyable and
                    accessible! Here, we believe that food should not only fuel your body but also bring joy to your
                    taste buds. Our mission is to inspire you with wholesome meals that are easy to prepare, full of
                    flavor, and packed with nutrients.
                </p>
            </div>
        </div>
    </div>
</td>
{% endblock %}