{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for recipe in recipes %}
                {% if recipe.approved %}
                <div class="col-12 col-md-4 col-sm-6 d-flex justify-content-center">
                    <div class="card mb-4 mt-4 text-center">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.image.url %}
                                <img class="card-img-top" src="{% static 'images/default.webp' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.image.url }}" alt="{{ recipe.image_alt }}">
                                {% endif %}
                            </div>
                            <a href="{% url 'recipe' recipe.slug %}" class="detail-link">
                                <h4 class="card-title">{{ recipe.title }}</h4>
                            </a>
                            <hr />
                            <p class="card-text">{{ recipe.author }}</p>
                            <p class="card-text text-muted h6">Last updated on {{ recipe.updated_on }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:6 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}


</div>


<!-- index.html content ends here -->
{% endblock %}